// Mixins
@mixin transition($time) {
	-webkit-transition: all $time ease-out 0s;
	-moz-transition: all $time ease-out 0s;
	-ms-transition: all $time ease-out 0s;
	-o-transition: all $time ease-out 0s;
	transition: all $time ease-out 0s;
}

.nav-item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
    &:hover {
      color: white;
      text-decoration: none;
    }
    @media screen and (max-width: 991px) {
      color: black;
      &:hover {
        color:  #00AF66;
      }
    }
}

ul.sub-menu {
  position: absolute;
  width: 180px;
  height: 100px;
  background: white;
  top: 80%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  @include transition(.3s);
  @media screen and (max-width: 991px) {
    width: fit-content;
    height: fit-content;
    position: relative;
    visibility: visible;
    box-shadow: none;
    opacity: 1;
    top: 0;
    transition: none;
    margin-right: -50px;
    margin-bottom: -80px;
    display: block;
  }
}

li:hover > ul.sub-menu {
	visibility: visible;
  opacity: 1;
  top: 100%;
    @media screen and (max-width: 991px) {
      top: 0;
    }
}